.slide {
  display: flex;
  gap: 1rem;
}
.slide > img {
  width: 240px;
}
.slide > article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.slide > article > h3 {
  font-size: 1.2rem;
}
.field  {
  display: flex;
}
.field > * {
  flex: 1;
}
.remove {
  margin-top: auto;
}
.remove > button {
  border: none;
  background: var(--text-color);
  color: var(--background-color);
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0.25rem;
  cursor: pointer;
}