.card {
  aspect-ratio: 2/3;
  height: 400px;
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  background: #fff;
}
.upper {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
}
.upper > div {
  padding: 0 0.5rem;
}
.tag {
  width: fit-content;
  padding: 0.25rem;
  border: 2px solid var(--text-color);
  text-transform: uppercase;
  font-weight: 800;
  background: var(--highlight-orange);
}
.upper > div:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.upper > div > button {
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.card > img {
  flex: 7;
  height: 100%;
}
.lower {
  box-sizing: border-box;
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.lower > h5 {
  text-align: center;
}
