.list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 640px;
  max-width: 1280px;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .list {
    width: 100vw;
    padding: 0.5rem;
  }
}