.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.reviews > h3 {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.stars {
  color: var(--highlight-orange);
}
.reviews > p {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .reviews > h3 {
    text-align: center;
  }
}
