.announcement {
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100vw;
  padding: 1rem;
  overflow: hidden;
}
.message {
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .message {
    font-size: 0.8rem;
  }
}
