.list {
  width: 100%;
}
.products {
  max-height: 50vh;
  overflow: scroll;
}
.details {
  border-top: 1px solid var(--text-color);
}
.section {
  display: flex;
}
.section>h5:last-child, .section>h3:last-child {
margin-left: auto;
}