.list {
  width: 100%;
}
.products {
  max-height: 50vh;
  overflow: scroll;
}
.details {
  border-top: 1px solid var(--text-color);
}
.section {
  display: flex;
}
.section>h5:last-child, .section>h3:last-child {
  margin-left: auto;
}
.section>h5>span, .section>h3>span {
  text-decoration: line-through;
}
.section>h3 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.empty_section {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .list {
    width: 200px;
  }
}
