.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.circle {
  background: var(--button-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circle > img {
  transform: translateY(-10%);
  height: 100px;
}
.logo > h3, .logo > h3 > span {
  font-family: var(--header-text);
  font-size: 2rem;
  letter-spacing: 2px;
  border-bottom: 4px solid var(--button-color);
}
.logo > h3 > span {
  border-bottom: 4px solid var(--text-color);
  color: var(--button-color);
}