.logo {
  position: absolute;
  left: 0;
  top: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo > img {
  height: 120px;
  transform: rotate(-6deg);
}
.logo > div {
  display: flex;
  flex-direction: column;
}
.logo > div > div {
  font-family: var(--header-text);
  font-size: 2rem;
}
.logo > div > div:last-child {
  color: var(--button-color);
  padding-left: 2rem
}