.shop {
  background: var(--highlight-pink);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  min-width: 640px;
  max-width: 1280px;
}
.banner {
  margin: 2rem 0;
  padding: 1rem;
  width: fit-content;
  background: #fff;
  border: 4px solid var(--text-color);
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}
.footer {
  margin-top: 2rem;
  width: 100%;
  background: var(--highlight-yellow);
  padding: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner {
    font-size: 1.2rem;
  }
}