.shop {
  background: var(--highlight-pink);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.content {
  min-width: 640px;
  max-width: 1280px;
}
.banner {
  margin: 2rem 0;
  padding: 1rem;
  width: fit-content;
  background: #fff;
  border: 4px solid var(--text-color);
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}
/* test */
.products {
  display: flex;
  gap: 1rem;
}