.navbar {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.navbar > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
.link {
  background: var(--button-color);
  padding: 0.5rem;
  width: 100px;
  text-align: center;
  border: 2px solid var(--text-color);
  box-shadow: 4px 4px var(--text-color);
}
.navbar > a:nth-child(1) {
  transform: rotate(-2deg);
}
.navbar > a:nth-child(2) {
  transform: rotate(1deg);
}
.navbar > a:nth-child(3) {
  transform: rotate(-4deg);
}
.navbar > a:nth-child(4) {
  transform: rotate(6deg);
}
.mobile {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 200;
}
.mobile > button {
  border: 2px solid var(--text-color);
  background: var(--highlight-blue);
  width: 48px;
  height: 48px;
  box-shadow: 4px 4px var(--text-color);
}
.mobile > div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mobile > div > a {
  text-decoration: none;
}
.mobile_link {
  padding: 0.25rem 1rem;
  border: 2px solid var(--text-color);
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 4px 4px var(--text-color);
  background: var(--highlight-blue);
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .mobile {
    display: block;
  }
}
