.card {
  height: 100px;
  padding: 1rem;
  display: flex;
}
.img {
  flex: 1;
}
.img > img {
  width: 100%;
}
.desc {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.desc > h5 {
  margin-top: auto;
}
.button > button {
  background: var(--highlight-pink);
  border: 2px solid var(--text-color);
  width: 32px;
  height: 32px;
  box-shadow: 4px 4px var(--text-color);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 0.5rem 0;
  }
  .desc {
    max-height: 100px;
    flex-direction: row;
    width: 70vw;
  }
}