.card {
  height: 100px;
  padding: 1rem;
  display: flex;
}
.img {
  flex: 1;
}
.img > img {
  width: 100%;
}
.desc {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.desc > h5 {
  margin-top: auto;
}