.testimonial {
  width: 768px;
  height: 140px;
  padding: 1rem;
  display: flex
}
.testimonial > div:first-child {
  flex: 1;
  font-weight: 800;
  font-size: 1.2rem;
}
.testimonial > div:last-child {
  flex: 2;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.testimonial > div:last-child > p {
  font-weight: 400;
}